In [26]:
# Dependencies and setup
import pandas as pd
import numpy as np 

# File to load
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [27]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [28]:
# Looking for missing values
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [31]:
# Describing data
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [34]:
# Finding unique values
unique_SN = purchase_data.groupby('SN')['SN'].nunique()
unique_SN.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: SN, dtype: int64

In [35]:
# Total players
total_players = unique_SN.count()
total_players

576

In [36]:
# Number of unique items
unique_items = purchase_data.groupby('Item Name')['Item Name'].nunique()
total_items = unique_items.count()
total_items

179

In [49]:
# Average price
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [38]:
# Number of purchases
total_purchase = purchase_data['Purchase ID'].count()
total_purchase

780

In [39]:
# Total revenue
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [57]:
total_purchasing_analysis = pd.DataFrame({'Number of Unique Items': [total_items],
                                          'Average Price': [average_price],
                                          'Number of Purchases': [total_purchase],
                                          'Total Revenue': [total_revenue]})
total_purchasing_analysis['Average Price'] = total_purchasing_analysis['Average Price'].map('${:,.2f}'.format)
total_purchasing_analysis['Total Revenue'] = total_purchasing_analysis['Total Revenue'].map('${:,.2f}'.format)
total_purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77