In [1]:
# Dependencies and setup
import pandas as pd
import numpy as np

# File to load
schools_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

# Reading schools and students data file
schools_data = pd.read_csv(schools_data_to_load)
students_data = pd.read_csv(students_data_to_load)

# Combining the data into a single dataset
combined_data = pd.merge(students_data, schools_data, how="left", on=["school_name", "school_name"])

In [2]:
combined_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
combined_data.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [4]:
combined_data.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [5]:
# Calculating the total number of schools
total_schools = combined_data['school_name'].nunique()
total_schools

15

In [6]:
# Calculating the total number of students
total_students = combined_data['Student ID'].count()
total_students

39170

In [7]:
# Calculating the total budget
total_budget = schools_data['budget'].sum()
total_budget

24649428

In [8]:
# Calculating the average math score
average_math_score = combined_data['math_score'].mean()
average_math_score

78.98537145774827

In [9]:
# Calculating the average reading score
average_reading_score = combined_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [10]:
# Calculating the overall passing rate
overall_average_score = (average_math_score + average_reading_score)/2
overall_average_score

80.43160582078121

In [11]:
# Calculating the percentage of students with a passing math score (70 or greater)
passing_math_score = combined_data[(combined_data["math_score"] >= 70)].count()['student_name']
passing_math_percentage = passing_math_score/float(total_students) * 100
passing_math_percentage

74.9808526933878

In [12]:
# Calculating the percentage of students with a passing reading score (70 or greater)
passing_reading_score = combined_data[(combined_data["reading_score"] >= 70)].count()['student_name']
passing_reading_score = passing_reading_score/float(total_students) * 100
passing_reading_score

85.80546336482001

In [13]:
district_summary = pd.DataFrame({'Total Schools': [total_schools],
                                 'Total Students': [total_students],
                                 'Total Budget': [total_budget],
                                 'Average Math Score': [average_math_score],
                                 'Average Reading Score': [average_reading_score],
                                 'Overall Average Score': [overall_average_score],
                                 '% Passing Math': [passing_math_percentage],
                                 '% Passing Reading': [passing_reading_score]})
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,}'.format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map('{:,.2f}'.format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map('{:,.2f}'.format)
district_summary['Overall Average Score'] = district_summary['Overall Average Score'].map('{:,.2f}'.format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map('{:,.2f}'.format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map('{:,.2f}'.format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,% Passing Math,% Passing Reading
0,15,39170,"$24,649,428",78.99,81.88,80.43,74.98,85.81

In [14]:
# Determining school type
school_types = schools_data.set_index(["school_name"])["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [15]:
# Calculating the total student count
total_school_count = combined_data["school_name"].value_counts()
total_school_count.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [16]:
# Calculating the total school budget and per capita spending
per_school_budget = combined_data.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget/total_school_count

In [17]:
# Calculating the average test scores
per_school_math = combined_data.groupby(["school_name"]).mean()["math_score"]
per_school_reading = combined_data.groupby(["school_name"]).mean()["reading_score"]

In [18]:
# Calculating the passing scores
school_passing_math = combined_data[(combined_data["math_score"] >= 70)]
school_passing_reading = combined_data[(combined_data["reading_score"] >= 70)]

In [19]:
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / total_school_count * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / total_school_count * 100

In [20]:
overall_passing_rate = (per_school_passing_math + per_school_passing_reading) / 2
overall_passing_rate.head()

Bailey High School      74.306672
Cabrera High School     95.586652
Figueroa High School    73.363852
Ford High School        73.804308
Griffin High School     95.265668
dtype: float64

In [21]:
school_summary = pd.DataFrame({'School Type': school_types,
                               'Total Students': total_school_count,
                               'Total School Budget': per_school_budget,
                               'Per Student Budget': per_school_capita,
                               'Average Math Score': per_school_math,
                               'Average Reading Score': per_school_reading,
                               '% Passing Math': per_school_passing_math,
                               '% Passing Reading': per_school_passing_reading,
                               '% Overall Passing Rate': overall_passing_rate})
school_summary['Total School Budget'] = school_summary['Total School Budget'].map('${:,.2f}'.format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map('${:,.2f}'.format)
school_summary['Average Math Score'] = school_summary['Average Math Score'].map('{:,.2f}'.format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map('{:,.2f}'.format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map('{:,.2f}'.format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map('{:,.2f}'.format)
school_summary['% Overall Passing Rate'] = school_summary['% Overall Passing Rate'].map('{:,.2f}'.format)
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,95.59
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,73.36
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,73.80
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,95.27

In [22]:
# Sorting and displaying the top five schools in overall passing rate
top_schools = school_summary.sort_values(['% Overall Passing Rate'], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,95.59
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,95.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,95.27
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,95.27
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,95.20

In [23]:
# Sorting and displaying the five worst-performing schools
worst_schools = school_summary.sort_values(['% Overall Passing Rate'], ascending=True)
worst_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,73.29
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,73.36
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,73.64
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,73.80

In [24]:
# Creating data series of scores by grade levels
ninth_grade = combined_data[(combined_data["grade"] == "9th")]
tenth_grade = combined_data[(combined_data["grade"] == "10th")]
eleventh_grade = combined_data[(combined_data["grade"] == "11th")]
twelfth_grade = combined_data[(combined_data["grade"] == "12th")]

In [25]:
# Grouping each grade by school name
ninth_grade_scores = ninth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_scores = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_scores = twelfth_grade.groupby(["school_name"]).mean()["math_score"]

In [26]:
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_scores, "10th": tenth_grade_scores,
                                     "11th": eleventh_grade_scores, "12th": twelfth_grade_scores})
math_scores_by_grade['9th'] = math_scores_by_grade['9th'].map('{:,.2f}'.format)
math_scores_by_grade['10th'] = math_scores_by_grade['10th'].map('{:,.2f}'.format)
math_scores_by_grade['11th'] = math_scores_by_grade['11th'].map('{:,.2f}'.format)
math_scores_by_grade['12th'] = math_scores_by_grade['12th'].map('{:,.2f}'.format)
math_scores_by_grade.head()

                        9th   10th   11th   12th
school_name
Bailey High School    77.08  77.00  77.52  76.49
Cabrera High School   83.09  83.15  82.77  83.28
Figueroa High School  76.40  76.54  76.88  77.15
Ford High School      77.36  77.67  76.92  76.18
Griffin High School   82.04  84.23  83.84  83.36

In [27]:
# Grouping each grade by school name
ninth_grade_scores = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_scores = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_scores = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]

In [28]:
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_scores, "10th": tenth_grade_scores,
                                        "11th": eleventh_grade_scores, "12th": twelfth_grade_scores})
reading_scores_by_grade['9th'] = reading_scores_by_grade['9th'].map('{:,.2f}'.format)
reading_scores_by_grade['10th'] = reading_scores_by_grade['10th'].map('{:,.2f}'.format)
reading_scores_by_grade['11th'] = reading_scores_by_grade['11th'].map('{:,.2f}'.format)
reading_scores_by_grade['12th'] = reading_scores_by_grade['12th'].map('{:,.2f}'.format)
reading_scores_by_grade.head()

                        9th   10th   11th   12th
school_name
Bailey High School    81.30  80.91  80.95  80.91
Cabrera High School   83.68  84.25  83.79  84.29
Figueroa High School  81.20  81.41  80.64  81.38
Ford High School      80.63  81.26  80.40  80.66
Griffin High School   83.37  83.71  84.29  84.01

In [29]:
new_school_summary = pd.DataFrame({'School Type': school_types,
                                   'Total Students': total_school_count,
                                   'Total School Budget': per_school_budget,
                                   'Per Student Budget': per_school_capita,
                                   'Average Math Score': per_school_math,
                                   'Average Reading Score': per_school_reading,
                                   '% Passing Math': per_school_passing_math,
                                   '% Passing Reading': per_school_passing_reading,
                                   '% Overall Passing Rate': overall_passing_rate})
new_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [30]:
# Establishing the bins
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
new_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
new_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645

In [31]:
# Determining average math score
spending_math_score = new_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_math_score

Spending Ranges (Per Student)
<$585       83.455399
$585-615    83.599686
$615-645    79.079225
$645-675    76.997210
Name: Average Math Score, dtype: float64

In [32]:
# Determining average reading score
spending_reading_score = new_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_reading_score

Spending Ranges (Per Student)
<$585       83.933814
$585-615    83.885211
$615-645    81.891436
$645-675    81.027843
Name: Average Reading Score, dtype: float64

In [33]:
# Determining % passing math
spending_passing_math = new_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_math

Spending Ranges (Per Student)
<$585       93.460096
$585-615    94.230858
$615-645    75.668212
$645-675    66.164813
Name: % Passing Math, dtype: float64

In [34]:
# Determining % passing reading
spending_passing_reading = new_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_passing_reading

Spending Ranges (Per Student)
<$585       96.610877
$585-615    95.900287
$615-645    86.106569
$645-675    81.133951
Name: % Passing Reading, dtype: float64

In [35]:
# Determining overall passing rate
overall_passing_rate = (spending_passing_math + spending_passing_reading) / 2
overall_passing_rate

Spending Ranges (Per Student)
<$585       95.035486
$585-615    95.065572
$615-645    80.887391
$645-675    73.649382
dtype: float64

In [36]:
spending_summary = pd.DataFrame({'Average Math Score': spending_math_score,
                                 'Average Reading Score': spending_reading_score,
                                 '% Passing Math': spending_passing_math,
                                 '% Passing Reading': spending_passing_reading,
                                 '% Overall Passing Rate': overall_passing_rate})
spending_summary.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

In [37]:
# Establishing the bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
new_school_summary["School Size"] = pd.cut(new_school_summary["Total Students"], size_bins, labels=group_names)
new_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645,Medium (1000-2000)

In [38]:
# Determining average math score
size_math_score = new_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_math_score

School Size
Small (<1000)         83.821598
Medium (1000-2000)    83.374684
Large (2000-5000)     77.746417
Name: Average Math Score, dtype: float64

In [39]:
# Determining average reading score
size_reading_score = new_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_reading_score

School Size
Small (<1000)         83.929843
Medium (1000-2000)    83.864438
Large (2000-5000)     81.344493
Name: Average Reading Score, dtype: float64

In [40]:
# Determining % passing math
size_passing_math = new_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_math

School Size
Small (<1000)         93.550225
Medium (1000-2000)    93.599695
Large (2000-5000)     69.963361
Name: % Passing Math, dtype: float64

In [41]:
# Determining % passing reading
size_passing_reading = new_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_passing_reading

School Size
Small (<1000)         96.099437
Medium (1000-2000)    96.790680
Large (2000-5000)     82.766634
Name: % Passing Reading, dtype: float64

In [42]:
# Determining overall passing rate
overall_passing_rate = (size_passing_math + size_passing_reading) / 2
overall_passing_rate

School Size
Small (<1000)         94.824831
Medium (1000-2000)    95.195187
Large (2000-5000)     76.364998
dtype: float64

In [43]:
size_summary = pd.DataFrame({'Average Math Score': size_math_score,
                             'Average Reading Score': size_reading_score,
                             '% Passing Math': size_passing_math,
                             '% Passing Reading': size_passing_reading,
                             '% Overall Passing Rate': overall_passing_rate})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

In [44]:
# Determining average math score
type_math_score = new_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_math_score

School Type
Charter     83.473852
District    76.956733
Name: Average Math Score, dtype: float64

In [45]:
# Determining average reading score
type_reading_score = new_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_reading_score

School Type
Charter     83.896421
District    80.966636
Name: Average Reading Score, dtype: float64

In [46]:
# Determining % passing math
type_passing_math = new_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_math

School Type
Charter     93.620830
District    66.548453
Name: % Passing Math, dtype: float64

In [47]:
# Determining % passing reading
type_passing_reading = new_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_passing_reading

School Type
Charter     96.586489
District    80.799062
Name: % Passing Reading, dtype: float64

In [48]:
# Determining overall passing rate
overall_passing_rate = (type_passing_math + type_passing_reading) / 2
overall_passing_rate

School Type
Charter     95.103660
District    73.673757
dtype: float64

In [49]:
school_type_summary = pd.DataFrame({'Average Math Score': type_math_score,
                                    'Average Reading Score': type_reading_score,
                                    '% Passing Math': type_passing_math,
                                    '% Passing Reading': type_passing_reading,
                                    '% Overall Passing Rate': overall_passing_rate})
school_type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757